#main-menu a{
    color: var(--dark-green);
    font-weight: 500;
}

#main-menu .navbar-brand{
    color: white;
    background-color: var(--dark-green);
    font-weight: 500;
}

#main-menu .navbar-toggler{
    color: var(--dark-green);
    font-size: 2.7rem;
}

span#my-name{
    color: var(--dark-green);
    font-weight: 600;
    font-size: 3rem;
}

#turningInsights{
    background-color: black;
}
#turningInsights *{
    text-decoration: none;
    color: var(--light-green);
    font-weight: 400;
}

#aboutMe{
    background-color: black;
    color: white;
    z-index: 0;
}

#project-tag{
    border-color: var(--dark-green) !important;
    color: var(--dark-green);
}
