section#turningInsights{
    background-color: black;
}
section#turningInsights *{
    text-decoration: none;
    color: var(--light-green);
    font-weight: 400;
}

section#sec-about-me{
    background-color: black;
    color: white;
    z-index: 0;
}

section#sec-what-did-i{
    background: white;
    line-height: 1.8;
}
section#sec-what-did-i ol{
    list-style-type: none;
}

section#sec-why-me{
    background-color: #EEE;
}
section#sec-why-me li{
    list-style-type: none;
    margin-bottom: 20px;
}

section#sec-contact-me{
    background-color: #EEE;
}

ul#soft-skills{
    border-right: 4px solid black;
}
ul#soft-skills li{
    border: 5px solid var(--dark-green);
    border-radius: 25px;
}
ul#soft-skills h3{
    color: var(--dark-green);
}
ul#soft-skills h4{
    color: var(--dark-green);
}

ul#academic-background li{
    border: 5px solid var(--dark-brown);
    border-radius: 25px;
}
ul#academic-background h3{
    color: var(--dark-brown);
}
ul#academic-background h4{
    color: var(--dark-brown);
}

ul#reviews-list{
    list-style-type: none;
}
ul#reviews-list li{
    border: 2px var(--dark-green) solid;
    margin-bottom: 30px;
    padding: 20px;
}
ul#reviews-list div.review-author{
    color: var(--dark-brown);
}

#frmContactMe input, textarea{
    margin: 20px 0px;
    border: 1px solid var(--dark-green) !important;
}
#frmContactMe div input{
    margin: 0;
}

span#my-name{
    color: var(--dark-green);
    font-weight: 600;
    font-size: 3rem;
}

#main-menu a{
    color: var(--dark-green);
    font-weight: 500;
    padding: 0;
}

#main-menu .nav-item, .navbar-brand{
    padding: 25px 10px !important;
}

#main-menu .navbar-brand{
    color: white;
    background-color: var(--dark-green);
}

#main-menu .navbar-toggler{
    color: var(--dark-green);
    font-size: 2.7rem;
}

#main-menu #contact-me-link{
    background-color: var(--light-brown);
}
#main-menu #contact-me-link a{
    color: var(--dark-brown);
}

.project-tag{
    border-color: var(--dark-green) !important;
    color: var(--dark-green);
}

#social-media-links a{
    text-decoration: none;
}

#thankyou-message{
    display: none;
}
