.scroll{
    position: "relative";
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 1.3s;
}
.scroll.go-to-bottom{
    transform: translateY(-50px);
}
.scroll.go-to-right{
    transform: translateX(-180px);
}
.scroll.go-to-left{
    transform: translateX(180px);
}

.scroll.active{
    opacity: 1;
    transform: translate(0);
}
